<div class="row">
  <aside class="col-xs-4">
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"><%=@user.name %></h3>
       </div>
       <div class="panel-body">
         <img class="media-object img-rounded img-responsive" src="<%= current_user.image.thumb.url %>" alt="">
       </div>
     </div>
     <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>釣果一覧<span class="badge"><%=@count_records %><% end %></span></li>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>フォローしている数<span class="badge"><%=@count_followings %><% end %></span></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>フォローされている数<span class="badge"><%=@count_followers %><% end %></span></li>
    </ul>
    <%= render 'users' , users: @followings %>
  </div>
</div>